body {
    background: #f5f7f9;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

.container-lg {
    max-width: 1040px;
    margin: 0 auto;
    width: 100%;
}

.container-lg h1 {
    line-height: 50px;
    font-size: 20px;
    font-weight: 300;
}

.container-lg h1 svg {
    color: #8898aa;
}

article {
    background: #fff;
    width: 878px;
    margin: 0 auto 100px;
    border: 1px solid #eaecee;
    padding: 75px 0;
}

article.list {
    margin: 0 auto 101px;
    padding: 15px 0 30px;
}

article header {
    text-align: center;
    width: 680px;
    margin: 0 auto 45px;
}

article header h1 {
    color: #292e31;
    font-size: 3em;
    line-height: 1.5;
    font-weight: 400;
}

article .content {
    width: 578px;
    margin: 0 auto;
    color: #4c555a;
}

article .video-container {
    text-align: center;
    margin: 35px -150px;
}

article video {
    max-width: 100%;
    height: auto;
}

article h3 {
    font-size: 1.9em;
    line-height: 1.5;
    font-weight: 500;
    color: #292e31;
    margin: 25px 0 15px;
}

article p {
    font-size: 1.6em;
    line-height: 1.8;
    margin: 15px 0;
    text-align: justify;
}

.citation {
    font-family: 'Bangers', cursive;
    background: #fafafb;
    border: 1px solid #f0f2f3;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.6;
    margin: 35px -150px;
    padding: 25px 150px;
    border-left: none;
    border-right: none;
}

.cta {
    margin: 35px 0 15px;
    background: #f7f9fa;
    border: 1px solid #e8eaeb;
    border-radius: 5px;
    text-align: center;
    color: #6f7c82;
    padding: 15px 20px;
}

article blockquote {
    background: #fafafb;
    border: 1px solid #f0f2f3;
    border-left: none;
    border-right: none;
    font-size: 1.6em;
    font-weight: 500;
    margin: 35px -150px;
    padding: 10px 150px;
}

article blockquote p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
}

ul {
    font-size: 1.6em;
    line-height: 1.8;
    margin: 25px 0;
    list-style: none;
}

ol {
    counter-reset: listitem;
    font-size: 1.6em;
    line-height: 1.8;
    margin: 25px 0;
    list-style: none;
}

ul li {
    margin: 15px 0;
    list-style: none;
    position: relative;
}

ol li {
    margin: 15px 0;
    list-style: none;
    position: relative;
}

ul>li:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #c9ced1;
    border-radius: 50%;
    left: -22px;
    top: 10px;
}

ol>li:before {
    counter-increment: listitem;
    content: counter(listitem);
    background: #939da3;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 5px;
    height: 12px;
    width: 12px;
    border-radius: 11px;
    position: absolute;
    left: -32px;
    top: 2.25px;
}

.mermaid svg {
    width: 578;
}