main {
  max-width: 56rem;
  margin: 3rem auto;
}

article {
  border-style: solid;
  border-width: 1px;
  border-color: #e2e8f0;
  background-color: #fff;
}

video {
 margin: 2rem -10rem; 
}
