---
layout: blog
---

<h2>Pok</h2>
<ul>
{% for post in site.categories['poker'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>GDP</h2>
<ul>
{% for post in site.categories['gdp'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Flowbird</h2>
<ul>
{% for post in site.categories['flowbird'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Matin</h2>
<ul>
{% for post in site.categories['matin'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Apero</h2>
<ul>
{% for post in site.categories['apero'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Plat</h2>
<ul>
{% for post in site.categories['plat'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Dessert</h2>
<ul>
{% for post in site.categories['dessert'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<h2>Test</h2>
<ul>
{% for post in site.categories['test'] %}
    <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>
